@charset "utf-8";

@import url(https://fonts.jimstatic.com/css?family=Raleway%3A100);

body {}

body, p, table, td
{
    font:normal 16px/140% Helvetica, Arial, sans-serif;
    color:#333333;
}

input, textarea
{
    font:normal 16px/140% Helvetica, Arial, sans-serif;
}

h1
{
    font:normal normal normal 35px/140% Raleway, cursive;
    color:#666666;
    
}

h2
{
    font:normal normal normal 25px/140% Raleway, cursive;
    color:#666666;
    
}

h3
{
    font:normal normal normal 17px/140% Raleway, cursive;
    color:#666666;
    
}

a:link,
a:visited
{
    text-decoration: underline; /* fix */
    color:#666666;
}

a:active,
a:hover
{
    text-decoration:none; /* fix */
    color: #666666;
}

div.hr
{
    border-bottom-style:solid;
    border-bottom-width:1px; /* fix */
    border-color: #9cd12b;
    height: 1px;
}
